<h1>Add a new Dealership below</h1>

<%= render 'form', dealership: @dealership %>
<%= link_to 'Show', @dealership, :class => "btn_over"  %>
<%= link_to 'Back', dealerships_path , :class => "btn_over" %>