<h1>Here is your selected Dealership: <%= @dealership.name %></h1>


<p>
    Dealership Name:
    <%= @dealership.name %>
</p>

<p>
    Dealer:
    <%= @dealership.dealers_name %>
</p>



<%=link_to 'Back', dealerships_path, :class => "btn" %>




